In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pprint

path = './data/road-game-default-rtdb-export_prev_prev.json'

branchs = ['all-games','complete-games']

In [2]:
#load data from the json file
with open(path) as train_file:
    data = json.load(train_file)

In [3]:
branch = branchs[0]
df = pd.DataFrame.from_dict(data[branch], orient='index')
df.reset_index(level=0, inplace=True)
df = df.dropna(subset=['log'])
df.head(5)

,index,additional_comments,aggressively_value,behavior,birthYear,blueScore,computer_value,drivinglicense,education,gender,generously_value,log,press-the-read-instructions-button,redScore,steps,win,wisely_value,predictable_value,answer-the-quiz
0,-MZiWIwdnrn8TJ034z2w,,5.0,carefulBehavior,1961,20.0,5.0,valid,BA,male,6.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,23.0,7.0,True,1.0,NaN,NaN
1,-MZiWUxZs8BvWglGhc9r,,2.0,carefulBehavior,1982,19.0,6.0,valid,BA,female,4.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,22.0,8.0,True,4.0,NaN,NaN
2,-MZiWYgxyToIiCSDQY8S,,5.0,aggressiveBehavior,1953,-105.0,7.0,valid,BA,female,2.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,-105.0,5.0,False,6.0,NaN,NaN
3,-MZiWYz_z_BcQlpReXf_,,6.0,aggressiveBehavior,1990,25.0,7.0,valid,Master's degree,male,2.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,21.0,9.0,True,2.0,NaN,NaN
4,-MZiWaNZ6n3K3AZDfr-q,,6.0,aggressiveBehavior,1953,-105.0,6.0,valid,BA,female,2.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,-105.0,5.0,False,1.0,NaN,NaN

In [4]:
df.columns

Index(['index', 'additional_comments', 'aggressively_value', 'behavior',
       'birthYear', 'blueScore', 'computer_value', 'drivinglicense',
       'education', 'gender', 'generously_value', 'log',
       'press-the-read-instructions-button', 'redScore', 'steps', 'win',
       'wisely_value', 'predictable_value', 'answer-the-quiz'],
      dtype='object')

,index,additional_comments,aggressively_value,behavior,birthYear,blueScore,computer_value,drivinglicense,education,gender,generously_value,log,press-the-read-instructions-button,redScore,steps,win,wisely_value,predictable_value,answer-the-quiz
0,-MZiWIwdnrn8TJ034z2w,,5.0,carefulBehavior,1961,20.0,5.0,valid,BA,male,6.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,23.0,7.0,True,1.0,NaN,NaN
1,-MZiWUxZs8BvWglGhc9r,,2.0,carefulBehavior,1982,19.0,6.0,valid,BA,female,4.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,22.0,8.0,True,4.0,NaN,NaN
2,-MZiWYgxyToIiCSDQY8S,,5.0,aggressiveBehavior,1953,-105.0,7.0,valid,BA,female,2.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,-105.0,5.0,False,6.0,NaN,NaN
3,-MZiWYz_z_BcQlpReXf_,,6.0,aggressiveBehavior,1990,25.0,7.0,valid,Master's degree,male,2.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,21.0,9.0,True,2.0,NaN,NaN
4,-MZiWaNZ6n3K3AZDfr-q,,6.0,aggressiveBehavior,1953,-105.0,6.0,valid,BA,female,2.0,"[None, {'blue': 'from: a6, action: left', 'red...",True,-105.0,5.0,False,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,-MbMhZJJjMuTmSQzAJOG,NaN,NaN,randomBehavior,NaN,21.0,NaN,NaN,NaN,NaN,NaN,"[None, {'blue': 'from: a6, action: stay', 'red...",True,25.0,5.0,True,NaN,NaN,True
622,-Mbc5KOa09qPXd1istvW,NaN,NaN,valueIterationBasedBehavior_v2,NaN,25.0,NaN,NaN,NaN,NaN,NaN,"[None, {'blue': 'from: a6, action: left', 'red...",True,23.0,7.0,True,NaN,NaN,True
635,-Mbc6QvkHMVuhZ2h7Y9K,NaN,NaN,valueIterationBasedBehavior_v2,NaN,25.0,NaN,NaN,NaN,NaN,NaN,"[None, {'blue': 'from: a6, action: left', 'red...",True,23.0,7.0,True,NaN,NaN,True
636,-Mbc7ftA1HqxUb0gkdJ1,NaN,NaN,valueIterationBasedBehavior_v2,NaN,25.0,NaN,NaN,NaN,NaN,NaN,"[None, {'blue': 'from: a6, action: left', 'red...",True,22.0,8.0,True,NaN,NaN,True
658,-MbcJHhtXTo0rb8QxsnY,NaN,NaN,valueIterationBasedBehavior_v2,NaN,-105.0,NaN,NaN,NaN,NaN,NaN,"[None, {'blue': 'from: a6, action: left', 'red...",True,-105.0,NaN,NaN,NaN,NaN,True

## participants details:

In [5]:
df['gender'].value_counts()

male      268
female    179
Name: gender, dtype: int64

In [6]:
df['education'].value_counts()

BA                 265
High School        128
Master's degree     45
Ph.D                 7
none                 1
Name: education, dtype: int64

In [7]:
df['drivinglicense'].value_counts()

valid      411
none        22
invalid     13
Name: drivinglicense, dtype: int64

In [8]:
df.groupby('gender').mean()[['blueScore', 'redScore']]

        blueScore   redScore
gender
female -25.173184 -25.977654
male   -25.496269 -25.660448

In [9]:
df.groupby('education').mean()[['blueScore', 'redScore']]

                  blueScore    redScore
education
BA               -27.037736  -27.320755
High School      -19.617188  -20.132812
Master's degree  -26.666667  -27.333333
Ph.D             -54.714286  -56.714286
none            -105.000000 -105.000000

In [10]:
df.groupby('drivinglicense').mean()[['blueScore', 'redScore']]

                blueScore   redScore
drivinglicense
invalid        -59.615385 -60.153846
none           -24.727273 -26.500000
valid          -24.440389 -24.778589

In [15]:
def genarateTable(col_col, index_score):
    # index_score = 'blueScore' or 'redScore'
    to_exel = df[[index_score, col_col]]

    table_blueScore = pd.DataFrame(index=to_exel.index, columns=to_exel.groupby(col_col).count().index)
    for agent in table_blueScore.columns:
        table_blueScore[agent] = to_exel[to_exel[col_col] == agent][index_score]

    return pd.concat([table_blueScore[agent].dropna().reset_index().drop('index', axis=1) for agent in table_blueScore.columns], axis=1)

In [19]:
dl_b = genarateTable('drivinglicense', 'blueScore')
dl_r = genarateTable('drivinglicense', 'redScore')

with pd.ExcelWriter('./data/drivinglicense.xlsx') as writer:
    dl_b.to_excel(writer, sheet_name='blueScore')
    dl_r.to_excel(writer, sheet_name='redScore')